auto eth0 eth1 lo

allow-hotplug eth0 eth1

iface lo inet loopback

# interface facing internet
iface eth0 inet dhcp

# static address facing switches
iface eth1 inet static
address {{ wbench_eth1_ip }}
netmask {{ wbench_eth1_mask }}
dns-search {{ dns_search1 }} {{ dns_search2 }}
dns-nameservers 127.0.0.1
post-up /sbin/iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
post-down /sbin/iptables -t nat -F POSTROUTING
