#! /bin/sh
# CUMULUS-AUTOPROVISIONING

echo -e "cwng\ncwng\ncwng\ncwng\ncwng\nY\n"  | adduser cwng
echo -e "{{ switch_password }}\n{{ switch_password }}" | passwd cumulus

{{ ztp_data }}

# CUMULUS-AUTOPROVISIONING
exit 0
