#! /bin/sh
# CUMULUS-AUTOPROVISIONING

pam-auth-update
useradd cwng
echo -e "cwng:cwng" | chpasswd
echo -e "cumulus:{{ switch_password }}" | chpasswd

{{ ztp_data }}

# CUMULUS-AUTOPROVISIONING
exit 0
